.hero-blog {
    position: relative
}

.hero-blog__content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--color-bg-main);
    font-weight: var(--weight-bold);
}
