.main-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 88px;
}

.hero-blog {
    position: relative;
}

.blog-post__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.blog-post__article {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog-post__image {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog-post__subtitle {
    font-size: 28px;
}

.blog-post__text {
    font-size: 20px;
    line-height: 32px;
}

.blog-post__subtitle {
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .hero__content-blog {
        max-width: min(60vw, 640px);
    }
}

@media screen and (min-width: 1024px) {
    .cards-layout.blog-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}