.main-content {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.hero-blog {
    position: relative;
}

@media screen and (min-width: 1024px) {
    .hero__content-blog {
        max-width: min(60vw, 640px);
    }
}
@media screen and (min-width: 1024px) {
    .cards-layout.blog-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}