.hero-blog {
    position: relative;
}

.hero__content-blog {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: clamp(40px, 10vw, 180px);
    padding-inline: clamp(24px, 6vw, 96px);
    width: 100%;
    color: var(--color-bg-main);
    font-weight: var(--weight-bold);
}

@media screen and (min-width: 1024px) {
    .hero__content-blog {
        max-width: min(60vw, 640px);
    }
}