.categories {
    padding-bottom: 88px;
}

.categories__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

@media screen and (min-width: 1024px) {
    .categories__cards {
        margin: 0 2.5rem;
    }

    .categories__card-img {
        width: 300px;
    }
}