.categories {
    padding-bottom: 88px;
}

.categories__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
}

.categories__card {
    transition: transform 0.3s ease;
}

.categories__card:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .categories__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .categories__cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
