.container {
    width: 100%;
    padding-inline: 24px;
    padding-block-end: 88px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-inline: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-inline: 80px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding-inline: 120px;
        padding-block-end: 104px;
    }
}