.section-title {
    font-size: 28px;
    font-weight: var(--weight-bold);
}

.section-description {
    font-size: 20px;
    line-height: 32px;
}

@media screen and (min-width: 1024px) {
    .cards-layout.destinations__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}