.container {
    width: 100%;
    padding: 0 24px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 60px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 0 90px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0 120px;
    }
}