.header {
    background-color: var(--color-bg-inverse);
    padding: 2rem 1.5rem;
}

.header__nav {
    display: flex;
    flex-direction: column;
}

.header__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.header__img--mobile {
    display: block;
    width: 4.25rem;
    height: 4rem;
}

.header__img--desktop {
    display: none;
    width: 16.25rem;
    height: 4rem;
}

.header__toggle {
    display: block;
    background: none;
    border: transparent;
    cursor: pointer;
}

.header__toggle-icon {
    width: 2rem;
    height: 2rem;
}

.header__menu {
    display: none;
}

.header__menu.active {
    display: block;
}

.header__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    list-style: none;
}

.header__link {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text-inverse);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 2rem 0;
    }

    .header__nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.75rem;
    }

    .header__brand {
        padding: 0;
    }

    .header__toggle {
        display: none;
    }

    .header__menu {
        display: block;
    }

    .header__list {
        flex-direction: row;
        gap: 2rem;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 2rem 0;
    }

    .header__nav {
        padding: 0 5rem;
    }

    .header__img--mobile {
        display: none;
    }

    .header__img--desktop {
        display: block;
    }

    .header__list {
        gap: 2rem;
    }

    .header__link:hover {
        color: var(--color-action-hover);
        font-weight: 700;
    }

    .header__link:active {
        color: var(--color-text-inverse);
        text-decoration: underline;
        font-weight: 700;
    }
}


@media screen and (min-width: 1440px) {
    .header {
        padding: 2rem 0;
    }

    .header__nav {
        padding: 0 7.5rem;
    }

    .header__img--mobile {
        display: none;
    }

    .header__img--desktop {
        display: block;
    }

    .header__list {
        gap: 2.5rem;
    }

    .header__link:hover {
        color: var(--color-action-hover);
        font-weight: 700;
    }

    .header__link:active {
        color: var(--color-text-inverse);
        text-decoration: underline;
        font-weight: 700;
    }
}