.header {
    background-color: var(--color-bg-inverse);
    padding: 2rem 1.5rem;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.img-mobile {
    display: block;
    width: 4.25rem;
    height: 4rem;
}

.img-desktop {
    display: none;
    width: 16.25rem;
    height: 4rem;
}

.nav-toggle {
    display: block;
    background: none;
    border: transparent;
    cursor: pointer;
}

.img-menu {
    width: 2rem;
    height: 2rem;
}

.nav-menu {
    display: none;
}

.nav-menu.active {
    display: block;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    list-style: none;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text-inverse);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 2rem 0;
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.75rem;
    }

    .nav-brand {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .nav-list {
        flex-direction: row;
        gap: 2rem;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 2rem 0;
    }

    .nav {
        padding: 0 5rem;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }

    .nav-list {
        gap: 2rem;
    }

    .nav-link:hover {
        color: var(--color-action-hover);
        font-weight: 700;
    }

    .nav-link:active {
        color: var(--color-text-inverse);
        text-decoration: underline;
        font-weight: 700;
    }
}


@media screen and (min-width: 1440px) {
    .header {
        padding: 2rem 0;
    }

    .nav {
        padding: 0 7.5rem;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
    }

    .nav-list {
        gap: 2.5rem;
    }

    .nav-link:hover {
        color: var(--color-action-hover);
        font-weight: 700;
    }

    .nav-link:active {
        color: var(--color-text-inverse);
        text-decoration: underline;
        font-weight: 700;
    }
}