.header {
    background-color: var(--color-bg-inverse);
    padding: 2rem 1.5rem;
}

.nav__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav__logo img {
    width: 4.25rem;
    height: 4rem;
}

.nav__toggle {
    display: block;
    background: none;
    border: transparent;
}

.nav__toggle img {
    width: 2rem;
    height: 2rem;
}

.nav__menu {
    display: none;
}

.nav__menu.active {
    display: block;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.nav__link {
    color: var(--color-text-inverse);
    text-decoration: none;
}