.hero__content {
    display: flex;
    flex-direction: column;
}

.hero__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hero__title {
    text-align: center;
    font-size: 20px;
    font-weight: var(--weight-regular);
    line-height: 32px;
    padding-block: 88px;
}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: 32px;
        line-height: 48px;
    }
}