.hero__img {
    padding-bottom: 88px;
}

.hero__title {
    text-align: center;
    font-size: 20px;
    font-weight: var(--weight-regular);
    line-height: 32px;
}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: 32px;
        line-height: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .hero__img {
        padding-bottom: 104px;
    }
}