.hero__content {
    display: flex;
    flex-direction: column;
}

.hero__img {
    width: 100%;
    height: 400px;
}

.hero__title {
    text-align: center;
    font-size: 20px;
    font-weight: var(--weight-regular);
    line-height: 32px;
    padding: 88px 24px;
    /* testar colocar width e margin auto inves de padding lateral 24px */
}

@media screen and (min-width: 768px) {
    .hero__img {
        height: 620px;
    }

    .hero__title {
        font-size: 32px;
        line-height: 48px;
        padding: 88px 60px;
        /* testar colocar width e margin auto */
    }
}

@media screen and (min-width: 1440px) {
    .hero__title {
        padding: 104px 120px;
        /* testar colocar width e margin auto */
    }
}