.payment__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.payment__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.payment__title {
    font-size: 28px;
    font-weight: var(--weight-bold);
}

.payment__description {
    font-size: 20px;
    line-height: 32px;
}

.payment__imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.payment__img--wide {
    grid-column: span 2;
}

@media screen and (min-width: 1024px) {
    .payment__content {
        grid-template-columns: repeat(2, 1fr);
    }
}