body {
    font-family: var(--font-main);
    font-weight: var(--weight-regular);
    color: var(--color-text-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    font-weight: var(--weight-bold);
    color: var(--color-text-main);
}

footer {
    font-family: var(--font-main);
    font-weight: var(--weight-medium);
    color: var(--color-text-main);
}