body {
    font-family: var(--font-main);
    color: var(--color-text-main);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-main);
    font-weight: var(--weight-bold);
}

.heading-1 { font-size: 3rem; }/* 48px */
.heading-2 { font-size: 2.5rem; } /* 40px */
.heading-3 { font-size: 2rem; } /* 32px */
.heading-4 { font-size: 1.75rem; } /* 28px */

.text-body-1 { font-size: 1rem; line-height: 1.75; font-weight: 400; } /* 16px */
.text-body-2 { font-size: 1.25rem; line-height: 1.6; font-weight: 400; } /* 20px */
.text-body-2-bold { font-size: 1.25rem; line-height: 1.6; font-weight: 700; }
.text-body-3 { font-size: 1.5rem; line-height: 1.5; font-weight: 400; } /* 24px */
.text-body-4 { font-size: 2rem; line-height: 1.5; font-weight: 400; } /* 32px */

.text-subtitle { font-size: 0.875rem; line-height: 2; font-weight: 400; } /* 14px */

