.nav__link {
    font-size: 1.5rem;
    font-weight: 500;
}

body {
    font-family: var(--font-main);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: var(--font-main);
    font-weight: 700;
}