.cards-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.card-layout {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
}
