.offers {
    padding-bottom: 88px;
}

.offers__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.offers__card {
    position: relative;
}

.offers__card-content {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bg-main);
    font-weight: var(--weight-bold);
}

.offers__card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.offers__card-title {
    color: inherit;
    font-weight: var(--weight-regular);
}

.offers__card-city {
    font-size: 40px;
}

.offers__card-price {
    font-size: 32px;
    margin: 24px 0;
}

.offers__card-button {
    display: flex;
    width: 280px;
    height: 64px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--color-action-main);
    font-size: 20px;
    font-weight: inherit;
    color: inherit;
    border: none;
}