.offers {
    padding-bottom: 5.5rem;
}

.offers__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.offers__card {
    position: relative;
}

.offers__card-img {
    width: 100%;
    display: block;
}

.offers__card-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-bg-main);
    font-weight: var(--weight-bold);
}

.offers__card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.offers__card-title {
    color: inherit;
    font-weight: var(--weight-regular);
}

.offers__card-city {
    font-size: 2.5rem;
}

.offers__card-price {
    font-size: 2rem;
    margin: 1.5rem 0;
}


@media screen and (min-width: 768px) {
    .offers__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .section__header {
        padding-bottom: 4rem;
    }

    .offers {
        padding-bottom: 6.5rem;
    }

    .offers__card-city {
        font-size: 3rem;
    }

    .offers__card-price {
        font-size: 2.5rem;
    }
}