.section__header {
    padding-bottom: 32px;
}

.section__title {
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 28px;
}

.section__title::after {
    content: '';
    width: 180px;
    height: 4px;
    background-color: var(--color-action-main);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 1024px) {
    .section__header {
        padding-bottom: 4rem;
    }
}